# Binaries
**/bin/
bin-int/
build/
# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcproj
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.mk
**.project
**.workspace
**/**.batch_build
**/**.txt
**/**.blob
**/MakeFile
compile_flags.txt
**/.codelite
**/.build-debug
**/.build-release
MakeFile
Makefile
makefile

Editor/assets/TestProject/Assembly/**.pdb
Editor/assets/TestProject/Csharp/bin/
Editor/assets/TestProject/Csharp/obj/
Editor/assets/TestProject/**.pdb
Editor/assets/TestProject/**.obj
Editor/cache/**.**

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


**.gch
