# Binaries
**/bin/
bin-int/

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcproj
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.mk
**.project
**.workspace
**/**.batch_build
**/**.txt
**/MakeFile
compile_flags.txt
**/.codelite
**/.build-debug
MakeFile
Makefile
makefile

Editor/assets/TestProject/Assembly/**.pdb
Editor/assets/TestProject/Csharp/bin/
Editor/assets/TestProject/Csharp/obj/
Editor/assets/TestProject/**.pdb
Editor/assets/TestProject/**.obj
Editor/cache/**.**