# Binaries
**/bin/
bin-int/

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcproj
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.mk
**.project
**.workspace
**/MakeFile
compile_flags.txt

MakeFile
Makefile
makefile
**.ini